<!-- Login Form -->
<form #loginForm="ngForm">
  <!-- Email -->
  <div class="mb-3">
    <label class="inline-block mb-2">Email</label>
    <input
      #email="ngModel"
      name="email"
      [(ngModel)]="credentials.email"
      type="email"
      class="block w-full py-1.5 px-3 text-gray-200 border border-gray-400 transition duration-500 focus:outline-none rounded bg-transparent focus:border-indigo-400"
      placeholder="Enter Email"
      required
      pattern="[a-z0-9!#$%&'*+/=?^_`{|}~-]+(?:\.[a-z0-9!#$%&'*+/=?^_`{|}~-]+)*@(?:[a-z0-9](?:[a-z0-9-]*[a-z0-9])?\.)+[a-z0-9](?:[a-z0-9-]*[a-z0-9])?"
    />
    <p
      *ngIf="email.errors && email.touched && email.dirty"
      class="text-red-400"
    >
      Email is invalid
    </p>
  </div>
  <!-- Password -->
  <div class="mb-3">
    <label class="inline-block mb-2">Password</label>
    <input
      #password="ngModel"
      type="password"
      class="block w-full py-1.5 px-3 text-gray-200 border border-gray-400 transition duration-500 focus:outline-none rounded bg-transparent focus:border-indigo-400"
      placeholder="Password"
      name="password"
      [(ngModel)]="credentials.password"
      required
      pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[a-zA-Z]).{8,}$"
    />
    <p
      *ngIf="password.errors && password.touched && password.dirty"
      class="text-red-400"
    >
      * Password must contain at least 8 characters, 1 uppercase letter, 1
      lowercase letter, and 1 number
    </p>
  </div>
  <button
    [disabled]="!loginForm.valid"
    type="submit"
    class="block w-full bg-indigo-400 text-white py-1.5 px-3 rounded transition hover:bg-indigo-500"
    (click)="login()"
    [ngClass]="{
      'bg-indigo-400 cursor-not-allowed opacity-40': !loginForm.valid,
      'bg-indigo-500 hover:bg-indigo-600': loginForm.valid
    }"
  >
    Submit
  </button>
</form>
